@page
@model musicrush.Pages.Songs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Song.Title" class="control-label"></label>
                <input asp-for="Song.Title" class="form-control" />
                <span asp-validation-for="Song.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Song.ReleaseDate" class="control-label"></label>
                <input asp-for="Song.ReleaseDate" class="form-control" />
                <span asp-validation-for="Song.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Song.Genre" class="control-label"></label>
                <input asp-for="Song.Genre" class="form-control" />
                <span asp-validation-for="Song.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Song.Artist" class="control-label"></label>
                <input asp-for="Song.Artist" class="form-control" />
                <span asp-validation-for="Song.Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumTitle" class="control-label"></label>
                <input asp-for="AlbumTitle" class="form-control" />
                <span asp-validation-for="AlbumTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Song.Rating" class="control-label"></label>
                <input asp-for="Song.Rating" class="form-control" type="number" min="0" max="5" />
                <span asp-validation-for="Song.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
