@page
@model music_rush.Pages.AlbumModel
@{
    ViewData["Title"] = "Album Details";
}
<section id="main">
    <h2>Album Name</h2>
    <p>
        Released in YEAR by ARTIST, this album is GENRE_NAME
    <p>
        These are the songs that appeared on the album:
    </p>
        <ul>
            <li>Song 1</li>
            <li>Song 2</li>
            <li>Song 3</li>
            <li>Song 4</li>
        </ul>
    </p>
    <a href="##" onClick="history.go(-1); return false;"> Return to the previous page</a>
</section>
