@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">to</h2>
        @* <h2 class="display-4">Music Rush</h2> *@
        <img class="img-fluid" src="/images/brand.png" width=35% alt="Music Rush Logo" />
        <p></p>
    <p>Brought to you by the team of Natalia Gourova and Luke Harrison</p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
