/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
  color: white;
}

body {
  background-color: #212124;
  overflow-x: hidden;
}
.main-bod {
  max-width: 90vw;
}
nav {
  background-color: #7879f1 !important;
  border-bottom: 1px solid #7879f1 !important;
}
a.navbar-brand {
  color: white;
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
select#SongGenre {
  height: 55px;
  border: none;
  border-left: 4px solid #7879f1;
  font-weight: 400;
}
.brand-name {
  font-family: "Ranga", cursive;
  font-size: x-large;
}
/* Provide sufficient contrast against white background */
a {
  color: white;
  text-decoration: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.b-space {
  padding: 0 0 3em 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #7879f1 !important;
}
.border-bottom {
  border-bottom: 1px solid #7879f1 !important;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: #7879f1;
}

/* Song page/wrapper */
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.card {
  min-width: 350px;
  height: 125px;
  background-color: #212124;
  border: 2px solid #7879f1;
  border-radius: 33px;
  word-wrap: unset !important;
  overflow: hidden;
  /* padding: 1em; */
}
img.card-img-top {
  display: block;
  margin: 20px auto 20px 20px;
  height: auto;
  width: 80px;
}
.card-title {
  white-space: nowrap;
}
span.card-text {
  white-space: nowrap;
}

.text-box {
  margin-left: 0px;
  overflow-x: hidden;
}
.text-box span {
  position: absolute;
  white-space: nowrap !important;
  transform: translateX(0);
  transition: 1s;
}
.text-box:hover span {
  transform: translateX(calc(100px - 100%));
}

/* Song page/wrapper */

/* Search Bar */
form.row {
  justify-content: center;
  margin-bottom: 5em;
}
.search-bar {
  padding: 0px 10px 0 20px;
  margin-top: 10px;
  color: #333;
  background-color: #fff;
  font-size: 28px;
  font-weight: 500;
  border: 3px solid #7879f1;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 60px;
  height: auto;
  border-radius: 50px 0 0 50px !important;
}
input#SearchString {
  height: 55px;
  border: none;
}

.search-bar :focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.search-btn {
  border: 0;
  padding: 0px 10px;
  margin-top: 10px;
  color: #fff;
  background: #7879f1;
  font-size: 27px;
  font-weight: 500;
  border: 3px solid #7879f1;
  border-left: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 60px;
  height: auto;
  border-radius: 0 50px 50px 0 !important;
}
/* Search Bar */
